* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

section#planetInfoWrapper {
  border: solid 5px black;
  width: 300px;
  margin: 0 auto;
}

section#planetInfoWrapper h1 {
  text-align: center;
  border-bottom: solid 5px black;
  text-transform: uppercase;
  padding: 10px 0;
}

section#planetInfoWrapper div {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}

section#planetInfoWrapper div ul {
  list-style-type: none;
}

section#planetInfoWrapper div p {
  text-align: center;
  margin-top: 30px;
}

button {
  margin: 30px auto 0;
  display: block;
  padding: 6px 24px;
}
